.content__template-content a,
.content__template-content a:hover,
.content__template-content a:focus,
.content__template-content a:active,
.content__template-content__reverse a,
.content__template-content__reverse a:hover,
.content__template-content__reverse a:focus,
.content__template-content__reverse a:active {
  color: #555353;
  text-decoration: underline;
}
.hero__text h1 {
  color: #fff;
  text-align: center;
  font-family: var(--font-peachi);
  font-size: 56px;
  font-style: normal;
  font-weight: 300;
  line-height: 59px; /* 95.238% */
}

.hero__text p {
  color: #fff;
  font-family: var(--font-mona-sans);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 53.333px;
}

.hero__text .buttons a {
  border-radius: 66.667px;
  border: 1px solid #fff;
  width: 213px;
  height: 54px;
  flex-shrink: 0;
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: var(--font-mona-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 42.667px; /* 200% */
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.hero__text .buttons a:hover {
  color: #000000;
  background-color: #ffffff;
  transform: translateY(-2px);
}

.hero__text .buttons a:focus {
  outline: 2px solid #ffffff;
  outline-offset: 3px;
}

.hero__text .buttons a:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 3px;
}

.hero__text .buttons a:active {
  transform: translateY(0);
}

.capabilities-button
/* .services__item-description-text a:hover { */ {
  border-radius: 66.667px;
  border: 1px solid #fff;
  display: flex;
  max-width: fit-content;
  height: 54px;
  padding: 13px 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: transparent;
  color: #fff;
  text-align: center;
  font-family: var(--font-mona-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 42.667px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
  margin: 15px 0 0 0;
}

.services__cta-button {
  text-decoration: none;
}

.footer__foot a {
  color: #9c8e8e;
  font-family: var(--font-mona-sans);
  font-size: 14px;
  line-height: 39.9px;
  margin: 0;
  text-decoration: none;
}

.footer__foot a:hover {
  text-decoration: underline;
  color: #ff5964;
  transition: color 0.3s ease;
  transition: text-decoration 0.3s ease;
}

.hero-template .heading {
  position: absolute;
  z-index: 5;
  color: #fff;
}

.hero-template .heading h1 {
  text-align: center;
  font-family: var(--font-peachi);
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 50px; /* 95.238% */
  margin-top: 37px;
}

.hero-template .heading p {
  color: #fff;
  text-align: center;
  font-family: var(--font-mona-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 65.333px;
}

.content__template-content__text h2,
.google__partner-content__text h2 {
  color: #555353;
  font-family: var(--font-peachi);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50.631px; /* 126.579% */
}

.content__template-content__text p,
.google__partner-content__text p {
  color: #555353;
  font-family: var(--font-mona-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 142.308% */
  max-width: 685px;
}

.backed-by__content p {
  color: #292929;
  font-family: var(--font-peachi);
  font-size: 34px;
  font-style: normal;
  font-weight: 300;
  line-height: 129%; /* 43.86px */
}

.blog-filter-badge {
  text-decoration: none;
}

.form-display {
  width: 100%;
}

.btn {
  border-radius: 66.667px;
  border: 1px solid #555353;
  display: flex;
  height: 54px;
  margin-top: 35px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: transparent;
  color: #555353;
  text-align: center;
  font-family: var(--font-mona-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 42.667px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #555353;
  color: white;
  transform: translateY(-2px);
  border: 1px solid #555353;
}

.case-study-link {
  text-decoration: none;
}

.grey-column {
  background: #f4f4f4;
  color: #161616;
  padding: 30px 15px;
}
.column-label {
  left: 15px;
}
.grey-column table tr td:first-child {
  padding-left: 0;
}
.grey-column table tr td:last-child {
  padding-right: 0;
}
.label {
  background: #e0e0e0;
  padding: 0 5px;
  display: inline-block;
}
.container-full {
  width: 1470px !important;
  max-width: 100%;
}

.responsive-table tr:not(:last-child):not(:first-child) {
  border-bottom: 1px solid #858585;
}

.text-muted {
  color: #6c757d !important;
  font-size: 0.855rem !important;
}
.form-text {
  display: block;
  margin: 5px 20px 20px;
}

.campaign-results {
  margin-top: 20px;
}

.campaign-results .textarea-label {
  position: absolute;
  background: #ffffff;
  font-size: 14px;
  margin: 0 50px;
  padding: 0 10px;
  top: -5px;
  color: #676767;
  line-height: 1;
}

.header__dropdown-cta-section a,
.header__dropdown-cta-section a:hover,
.header__dropdown-cta-section a:focus,
.header__dropdown-cta-section a:active {
  text-decoration: none;
  cursor: pointer;
}

.dropdown-capabilities__cta,
.mobile-menu__dropdown-cta {
  cursor: pointer;
}

.join__cta-button {
  text-decoration: none;
}

.join__cta-button:hover {
  text-decoration: none;
}

.partners__images-img {
  max-width: 300px;
}
.contact-heading {
  color: #555353 !important;
  font-family: var(--font-peachi) !important;
  font-size: 32px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 42px !important;
}

a.case-studies__cta-button {
  border-radius: 66.667px;
  border: 1px solid #555353;
  display: flex;
  height: 54px;
  margin-top: 35px;
  padding: 13px 30px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  background: transparent;
  color: #555353;
  text-align: center;
  font-family: var(--font-mona-sans);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 42.667px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

a.case-studies__cta-button:hover {
  background-color: #555353;
  color: white;
  transform: translateY(-2px);
  border: 1px solid #555353;
  text-decoration: none;
}

.footer__address-link {
  color: inherit !important;
  text-decoration: none !important;
  cursor: pointer;
}

.footer__address-link:hover {
  color: inherit !important;
  text-decoration: none !important;
}

.footer__contact-link {
  text-decoration: none !important;
}

.footer__contact-link:hover {
  text-decoration: 1px underline !important;
}

.content__template-content__text p,
.google__partner-content__text {
  font-size: 20px;
  line-height: 28px;
}

.content__template-content__text h2,
.google__partner-content__text h2 {
  font-size: 36px;
  line-height: 44px;
}

.bg__content-text h2 {
  color: #fff;
  text-align: center;
  font-family: var(--font-peachi);
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 140% */
}

.bg__content-text p {
  color: #fff;
  text-align: center;
  font-family: var(--font-mona-sans);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px; /* 185% */
}
.footer__mobile-bottom a {
  color: #9c8e8e;
  text-decoration: none;
}
.footer__mobile-bottom a:hover {
  text-decoration: underline;
  color: #ff5964;
  transition: color 0.3s ease;
  transition: text-decoration 0.3s ease;
}

.video-section {
  position: relative;
  z-index: 3;
}
.content__template-content__text p.contact-title {
  color: #ff5964;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 60px 0;
}

.pagination a {
  color: #bbb5b5;
  text-align: center;
  font-family: var(--font-peachi);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 42.578px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.pagination a.active {
  color: #292929;
}

.pagination a:hover {
  color: #292929;
}

.hero__indicators svg {
  width: 39px;
}
.company__cta-button {
  text-decoration: none;
}
/* =============================================================================
   Responsive Styles
   ============================================================================= */

/* 1480px Breakpoint */
@media (max-width: 1480px) {
  .hero__text h1 {
    font-size: 48px;
    padding: 0;
    margin: 0;
  }

  .hero__text p {
    font-size: 22px;
    padding: 0;
    margin: 0;
  }

  .hero__text .buttons a {
    font-size: 18px;
    padding: 0px 18px;
    height: auto;
    width: auto;
  }

  .hero__text .buttons a:hover {
    transform: translateY(-2px);
  }

  .hero-template .heading h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-template .heading p {
    font-size: 18px;
    line-height: 30px;
  }

  .content__template-content__text h2,
  .google__partner-content__text h2 {
    font-size: 32px;
  }
  .content__template-content__text p,
  .google__partner-content__text p {
    font-size: 20px;
    line-height: 28px;
  }

  .backed-by__content p {
    font-size: 28px;
    line-height: 36px;
  }

  .blog-content__container p {
    font-size: 20px;
    line-height: 26px;
  }

  a.btn {
    margin-top: 10px;
    font-size: 18px;
    padding: 0px 18px;
    height: auto;
  }
}

/* 1280px Breakpoint */
@media (max-width: 1280px) {
  .hero__text h1 {
    font-size: 40px;
  }

  .hero__text p {
    font-size: 18px;
  }

  .hero__text .buttons a {
    font-size: 14px;
    line-height: 14px;
    padding: 10px 20px;
    height: auto;
    margin: 0;
  }

  .hero__text .buttons a:hover {
    transform: translateY(-2px);
  }

  .hero-template .heading h1 {
    font-size: 40px;
    line-height: 48px;
  }

  .hero-template .heading p {
    font-size: 16px;
    line-height: 28px;
  }

  .bg__content-text h2 {
    font-size: 32px;
    line-height: 44px;
  }

  .bg__content {
    padding: 70px 0;
  }
}

@media (max-width: 1024px) {
  .hero-template .heading h1 {
    font-size: 32px;
    line-height: 48px;
  }
  .hero-template .heading p {
    font-size: 14px;
    line-height: 28px;
    padding: 0 20px;
  }

  .content__template-content__text h2,
  .google__partner-content__text h2 {
    font-size: 24px;
  }
  .content__template-content__text p,
  .google__partner-content__text p {
    font-size: 16px;
    line-height: 20px;
  }

  .backed-by__content p {
    font-size: 20px;
    line-height: 32px;
  }

  .blog-content__container p {
    font-size: 16px;
    line-height: 22px;
  }
  .bg__content-text h2 {
    font-size: 24px;
    line-height: 32px;
    max-width: 900px;
  }
  .bg__content {
    padding: 70px 0;
  }
}

@media (max-width: 768px) {
  .hero__text h1 {
    font-size: 42px;
    line-height: 46px;
  }

  .hero__text p {
    font-size: 20px;
    line-height: 30px;
  }

  .hero__text .buttons a {
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    padding: 8px 20px;
    height: auto;
    width: auto;
  }
  .hero__text .buttons {
    flex-direction: column;
    gap: 15px;
  }
  .hero-template .heading h1 {
    /* position: relative; */
    font-size: 30px;
    line-height: 38px;
    padding: 0 20px;
    margin-top: 0px;
  }

  .hero-template .heading p {
    font-size: 12px;
    line-height: 28px;
  }

  .content__template-content__text h2,
  .google__partner-content__text h2 {
    font-size: 30px;
    text-align: start;
    line-height: 38px;
  }

  .content__template-content__text p,
  .google__partner-content__text p {
    font-size: 20px;
    text-align: start;
    line-height: 28px;
  }

  .backed-by__content p {
    color: #292929;
    font-family: var(--font-peachi);
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 129%; /* 33.54px */
  }
  .bg__content-text h2 {
    max-width: 80%;
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px 0;
  }

  .pagination a {
    font-size: 20px;
    font-weight: 400;
    line-height: 34.578px;
  }
  .work-portfolio__item {
    height: auto;
  }
  .work-portfolio__item img {
    height: auto;
  }
  .hero__indicators svg {
    width: 30px;
  }
  .partners__images-img {
    max-height: 200px;
  }

  .bg__content {
    padding: 70px 0;
    background-attachment: inherit;
    background-position: 0%;
  }
  .mobile-menu__dropdown-section a {
    text-decoration: none !important;
  }
}
